
<app-city-search (searchCity)="setSearch($event)"></app-city-search>
<div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <h2>{{data.cityName|titlecase}}</h2> 
    <button mat-icon-button >
        <mat-icon>favorite_border</mat-icon>
      </button>
<div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px" class="stats-crads">
    <mat-card  fxFlex="25" *ngFor="let day of forecast$"> 
        <app-widget-card [forecastData]="day"></app-widget-card>
    </mat-card>
</div>

</div>