
h2{
    margin-top: -15px;
    margin-bottom: 5px;
    display: inline-block;
}

button{
    background-color: transparent;
    border: none;
    margin-left: 5%;
    transform: translate(0, 20%);
}

mat-icon{
    color: rgb(148, 3, 3);
}

.stats-crads{

}