footer{
    padding: 20px;
    background: url('/assets/background.svg');
    color: rgb(129, 148, 128);

    h3{
        span{
            font:20px 'Fira Code SemiBold';
            padding: 10px;
        }
    }
}