<div class="card-container">
    <section class="day">
        <h3>
            {{date|date:'EEEE'}}
            <br>
            {{date|date:'dd/MM/y'}}
        </h3>
        <img src="./assets/icons/{{dayIconNum}}.png">
        <br>
        <div class="description">
        <span>Day Time:</span>
        <p>{{dayDescription}}</p>
        </div>
    </section>
    <br>
    <mat-divider></mat-divider>
    <br>
    <section class="night">
        <img src="./assets/icons/{{nightIconNum}}.png">
        <br>
        <div class="description">
        <span>Night Time:</span>
        <p>{{nightDescription}}</p>
        </div>
    </section>
    <br>
    <span>Temperature (C):</span>
    <br>
    <h4>{{temp.min}}&#176;-{{temp.max}}&#176;</h4>



</div>